<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cotenite.bearing.mapper.BearingWrongMapper">

    <resultMap id="BaseResultMap" type="cn.cotenite.bearing.domain.po.BearingWrong">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="bearingId" column="bearing_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="wrong" column="wrong" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bearing_id,status,
        wrong,create_time,update_time,
        is_delete
    </sql>
    
    <update id="updateStatusById">
        update bearing_wrong
        set status=#{status}
        where id=#{id}
    </update>
    
    <update id="finished">
        update bearing_wrong bw
        join bearing b on b.id = bw.bearing_id
        set bw.status=2,b.status=0
        where bw.bearing_id=#{bearingId}
        limit 1
    </update>
    
    <select id="selectBearingDetail" resultType="cn.cotenite.bearing.domain.vo.rsp.BearingWrongDetailVO">
        select
            bw.id,
            bw.bearing_id,
            bw.status,
            bw.wrong,
            b.name bearingName,
            bw.create_time
        from  bearing_wrong bw
        left join bearing b on bw.bearing_id = b.id
        <where>
            <if test="name != null and name != ''">
                b.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and bw.status = #{status}
            </if>
            and bw.is_delete = 0
        </where>
    </select>
</mapper>
