<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cotenite.bearing.mapper.WordOrderMapper">

    <resultMap id="BaseResultMap" type="cn.cotenite.bearing.domain.po.WordOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNumber" column="order_number" jdbcType="BIGINT"/>
            <result property="bearingId" column="bearing_id" jdbcType="BIGINT"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="wrong" column="wrong" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_number,bearing_id,
        real_name,create_time,update_time,
        is_delete
    </sql>
    
    <select id="selectPage4List" resultType="cn.cotenite.bearing.domain.vo.rsp.WorkOrderReqVO">
        select
            wo.id,
            wo.order_number,
            wo.bearing_id,
            wo.real_name,
            wo.wrong,
            bw.status,
            wo.create_time,
            wo.update_time
        from word_order wo
        left join bearing_wrong bw on wo.bearing_id = bw.bearing_id
        <where>
            <if test="status != null">
                and bw.status = #{status}
            </if>
            <if test="id != null">
                and wo.id = #{id}
            </if>
            <if test="realName != null and realName != ''">
                and wo.real_name like concat('%',#{realName},'%')
            </if>
            <if test="wrong != null">
                and wo.wrong = #{wrong}
            </if>
            and bw.is_delete = 0
        </where>
     </select>


</mapper>
