<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cotenite.bearing.mapper.WorkerScheduleMapper">

    <resultMap id="BaseResultMap" type="cn.cotenite.bearing.domain.po.WorkerSchedule">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="workerId" column="worker_id" jdbcType="BIGINT"/>
            <result property="scheduleId" column="schedule_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,worker_id,schedule_id,
        create_time,update_time,is_delete
    </sql>
    <select id="selectAllWorkWithSchedule"
            resultType="cn.cotenite.bearing.domain.aggregate.WorkScheduleAggregate">
        select
            ws.worker_id,
            s.id scheduleId,
            s.start_time,
            s.get_off_time
        from worker_schedule ws
                 left join schedule s on s.id=ws.schedule_id
        where s.start_time &lt;= CURTIME()
          and s.get_off_time &gt;= CURTIME()
    </select>


</mapper>
